@{
    ViewBag.Title = "DanhSach";
    Layout = "~/Areas/admin/Views/Shared/Layout.cshtml";
}
<!-- Content Header (Page header) -->
<div id="Productmain">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Danh sách</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item active">Sản phẩm</li>
                    </ol>
                </div>
            </div >
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            @*<div class="card-title">*@
                            <div class="row">
                                <div class="col-8">
                                    <strong>Danh sách Sản phẩm</strong>
                                </div>
                                <div class="col-4" style="text-align:right" ;>
                                    <span class="btn btn-primary" onclick="Add()">Thêm mới</span>
                                </div>
                            </div>
                            @*</div>*@
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div id="tablerespon">

                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>
<div id="Productadd">
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 id="textthemmoi">Thêm mới</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                        <li class="breadcrumb-item"><a href="#">Sản phẩm</a></li>
                        <li class="breadcrumb-item active" id="textthemmoinho">thêm mới</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="row">
                                <div class="col-8">
                                    <strong>Phần nhập thông tin</strong>
                                </div>
                                <div class="col-4" style="text-align:right" ;>
                                    <span class="btn btn-danger" onclick="Closed()">Đóng</span>
                                </div>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body">
                            <div class="tile-body" id="tile-body">
                                <div class="form-group row">
                                    <input type="hidden" id="isid" />
                                    <label class="control-label col-md-2">Tên<span style="color:red">(*)</span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtten" placeholder="Mời nhập tên">
                                    </div>

                                    <label class="control-label col-md-2">MetaTitle<span style="color:red">(*)</span></label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtMetaTitle" readonly>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Code</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtCode" readonly>
                                    </div>
                                    <label class="control-label col-md-2">Ngày tạo</label>
                                    <div class="input-group date col-md-4" id="txtCreatedDate" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#txtCreatedDate" id="txtCreatedDatenow" />
                                        <div class="input-group-append" data-target="#txtCreatedDate" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Thể loại sản phẩm</label>
                                    <div class="col-md-4">
                                        @Html.DropDownList("txtCategoryID", (IEnumerable<SelectListItem>)ViewBag.CategoryList, new { @class = "form-control select2" })
                                    </div>
                                    <label class="control-label col-md-2">Nổi bật</label>
                                    <div class="input-group date col-md-4" id="txtTopHotnew" data-target-input="nearest">
                                        <input type="text" class="form-control datetimepicker-input" data-target="#txtTopHotnew" id="txtTopHot" />
                                        <div class="input-group-append" data-target="#txtTopHotnew" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">MetaKeywords</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtMetaKeywords" placeholder="Nhập MetaKeywords">
                                    </div>
                                    <label class="control-label col-md-2">MetaDescription</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtMetaDescriptions" placeholder="Nhập MetaDescriptions">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-1">Ảnh file</label>
                                    <div class="col-md-11">
                                        <div class="row">
                                            <a href="#" class="btn btn-success col-md-3" id="selectimg">Thêm ảnh</a>
                                            <input class="form-control col-md-9" type="text" id="txtImage">
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-1"></label>
                                    <div class="col-md-11">
                                        <img class="img-thumbnail" id="imgrow" style="width:100%;height:250px" />
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Giá gốc</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtPrice">
                                    </div>
                                    <label class="control-label col-md-2">Giá khuyến mãi</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtPromotionPrice">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-2">Số lượng</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtQuantity">
                                    </div>
                                    <label class="control-label col-md-2">Bảo hành</label>
                                    <div class="col-md-4">
                                        <input class="form-control" type="text" id="txtWarranty">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="control-label col-md-1">Nội dung</label>
                                    <div class="col-md-11">
                                        <textarea class="form-control" id="txtDetail" rows="15"></textarea>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="txtnoibat" class="control-label col-md-2">Trạng thái</label>
                                    <div class="col-md-4">
                                        <input class="form-check-input" type="checkbox" id="txtStatus">
                                    </div>
                                    <label for="txtnoibat" class="control-label col-md-2">Bao gồm VAT</label>
                                    <div class="col-md-4">
                                        <input class="form-check-input" type="checkbox" id="txtIncludedVAT">
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" id="btnSave" onclick="save()">Confirm</button>
                                <button type="button" class="btn btn-secondary" onclick="Closed()">Hủy</button>
                            </div>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                </div>
                <!-- /.col -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container-fluid -->
    </section>
</div>

@section scripts {
    <script type="text/javascript">
        $(function () {
            LoadTable();
            Setup();
            Show('#Productmain', '#Productadd');
        });
        function LoadTable() {
            $.ajax({
                url: '@Url.Action("Index", "Product")',
                type: 'GET',
            }).done(function (data) {
                $('#tablerespon').html(data);
                $("#tablerepoin").DataTable({
                    "responsive": true, "lengthChange": false, "autoWidth": false,
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#tablerepoin_wrapper .col-md-6:eq(0)');

            });
        };
        function Setup() {
            $("#selectimg").on('click', function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (url) {
                    $("#txtImg").val(url);
                    $("#imgrow").attr("src", url );
                };
                finder.popup();
            });
            var editor = CKEDITOR.replace('txtDetail', {
                customConfig: '/asset/ckeditor/config.js',
            });
            $('#txtten').change(function () {
                $('#txtMetaTitle').val(removeVietnameseTones($('#txtten').val()));
            });
            //Date picker
            $('#txtCreatedDate').datetimepicker({
                format: 'MM/DD/yyyy'
            });
            $('#txtTopHot').datetimepicker({
                format: 'MM/DD/yyyy'
            });
            $('.select2').select2();
        };
        function Show(el1,el2) {
            $(el1).show();
            $(el2).hide();
        };
        function ge_today_date(date) {
            var day = date.getDate();
            var month = date.getMonth() + 1;
            var year = date.getFullYear().toString().slice(2);
            return day + '/' + month + '/' + year;
        }
        function Reset() {
            $('#txtten').val("");
            $('#txtMetaTitle').val("");
            $('#txtMetaKeyword').val("");
            $('#txtDescription').val("");
            $("#txtCode").val("");
            $("#txtCategoryID").val('');
            $('#txtMetaKeywords').val("");
            $('#txtMetaDescriptions').val("");
            $("#txtCreatedDatenow").val('');
            $("#txtTopHot").val("");
            $('#txtImage').val("");
            $('#imgrow').attr('src', null);
            $("#txtPrice").val("");
            $("#txtPromotionPrice").val("");
            $("#txtQuantity").val("");
            $("#txtWarranty").val("");
            CKEDITOR.instances['txtDetail'].setData('');
            $("#txtStatus").val(false);
            $("#txtIncludedVAT").val(false);

            ClearError('#txtten');

            $("#btnSave").text("Lưu lại");
            $('#tile-body').nextAll(".spanError").remove();
        };
        var Bool = true;
        $("#txtStatus[type='checkbox']").change(function () {
            if ($(this).is(":checked")) {
                Bool = true;
            }
            else {
                Bool = false;
            }
        });
        var BoolVat = true;
        $("#txtIncludedVAT[type='checkbox']").change(function () {
            if ($(this).is(":checked")) {
                BoolVat = true;
            }
            else {
                BoolVat = false;
            }
        });
        function Closed() {
            Show('#Productmain', '#Productadd');
        };
        function validate() {
            FormModalIsValid = true;
            ValidateRequireControl('#txtten', 'Bạn phải nhập trường này!');
            ValidateRequireControlMaxLength("#txtten", "Bạn không được nhập quá tên chủ đầu tư quá 256 ký tự", 256);
        };
        function Get() {
            var Data = {
                ID: $("#isid").val(),
                Name: $('#txtten').val(),
                MetaTitle: $('#txtMetaTitle').val(),
                Description: $('#txtDescription').val(),
                Image: $('#txtImage').val(),
                Detail: CKEDITOR.instances['txtDetail'].getData(),
                CreatedDate: $("#txtCreatedDatenow").val() != "" ? $("#txtCreatedDatenow").val() : new Date(),
                CreatedBy: null,
                ModifiedDate: new Date(),
                ModifiedBy: null,
                MetaKeywords: $('#txtMetaKeywords').val(),
                MetaDescriptions: $('#txtMetaDescriptions').val(),
                Status: Bool,
                Code: null,
                MoreImages: null,
                Price: $('#txtPrice').val(),
                PromotionPrice: $('#txtPromotionPrice').val(),
                IncludedVAT: BoolVat,
                Quantity: $('#txtQuantity').val(),
                CategoryID: $('#txtCategoryID').val(),
                Warranty: $('#txtWarranty').val(),
                TopHot: $('#txtTopHot').val(),
                ViewCount:0
            };
            return Data;
        };
        function set(Obj) {
            $("#isid").val(Obj.ID);
            $('#txtten').val(Obj.Name);
            $('#txtMetaTitle').val(Obj.MetaTitle);
            $('#txtDescription').val(Obj.Description);
            $('#txtImage').val(Obj.Image);
            CKEDITOR.instances['txtDetail'].setData(Obj.Detail);
            $("#txtCreatedDatenow").val(Obj.Ngaytao)
            CreatedBy: null;
            ModifiedDate: new Date();
            ModifiedBy: null;
            $('#txtMetaKeywords').val(Obj.MetaKeywords);
            $('#txtMetaDescriptions').val(Obj.MetaDescriptions);
            $("#txtStatus").prop('checked', Obj.Status);
            $('#imgrow').attr('src', Obj.Image);
            $("#txtCode").val(Obj.Code);
            MoreImages: null;
            $('#txtPrice').val(Obj.Price);
            $('#txtPromotionPrice').val(Obj.PromotionPrice);
            $("#txtIncludedVAT").prop('checked', Obj.IncludedVAT);
            $('#txtQuantity').val(Obj.Quantity);
            $('#txtCategoryID').val(Obj.CategoryID);
            $('#txtWarranty').val(Obj.Warranty);
            $('#txtTopHot').val(Obj.tophot);
        }
        function Add() {
            Show('#Productadd', '#Productmain');
            Reset();
            $("#isid").val("-1");
        };
        function save() {
            debugger
        var Obj = Get();
            validate()
            if (FormModalIsValid) {
                $.ajax({
                    url: '@Url.Action("AddandEdit", "Product")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ AboutDtos: Obj }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        if (data.Status == 200) {
                            toastr.success(data.Mes);
                            Closed();
                            LoadTable();
                        }
                    },
                    error: function (xhr) {
                        alert(xhr);
                    }
                });
            }
        };
        function Edit(id) {
                $.ajax({
                    url: '@Url.Action("GetObjById", "Product")',
                    dataType: "json",
                    type: "POST",
                    contentType: 'application/json; charset=utf-8',
                    data: JSON.stringify({ id: id }),
                    async: true,
                    processData: false,
                    cache: false,
                    success: function (data) {
                        console.log(data.Data);
                        if (data.Status == 200) {
                            $('#btnSave').html('Cập nhật');
                            $('#textthemmoi').html('Chỉnh sửa');
                            $('#textthemmoinho').html('Chỉnh sửa');

                            Show('#Productadd', '#Productmain');
                            set(data.Data);
                        }
                    },
                    error: function (xhr) {
                        alert('error');
                    }
                });
        };
        function Delete(id) {
            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })
            swalWithBootstrapButtons.fire({
                title: 'Bạn có chắc không?',
                text: "Bạn sẽ không thể khôi phục được dữ liệu!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Có, xóa nó!',
                cancelButtonText: 'Không, hủy bỏ!',
                reverseButtons: true
            }).then((result) => {
                if (result.isConfirmed) {
                     $.ajax({
                            url: "@Url.Action("Delete", "Product")",
                            type: "GET",
                            data: {id:id},
                            cache: false,
                         success: function (data) {
                             LoadTable();
                                swalWithBootstrapButtons.fire(
                                    'Đã xóa!',
                                    'Tệp của bạn đã bị xóa.',
                                    'success'
                                )
                            },
                            error: function (xhr) {
                                Swal.fire(xhr);
                            }
                     });
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Đã hủy',
                        'Tệp của bạn an toàn!',
                        'error'
                    )
                }
            })
        };
        function ChangCheck(id) {
            $.ajax({
                 url: "@Url.Action("ChangCheck", "Product")",
                 type: "POST",
                 data: {id:id},
                 cache: false,
                 success: function (data) {
                     toastr.success(data.Mes);
                     LoadTable();
                 },
                 error: function (xhr) {
                     Swal.fire(xhr);
                 }});
        }
    </script>
}


