@model IEnumerable<WebQuanLyBanHangDtos.AboutDto>
@{
    ViewBag.Title = "DanhSach";
    Layout = null;
}
<table id="tablerepoin" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Stt</th>
            <th>Tên</th>
            <th>Tiêu đề meta</th>
            <th>Sự mô tả</th>
            <th>Ngày tạo</th>
            <th>Trạng thái</th>
            <th>Chức năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Stt</td>
                <td>@item.Name</td>
                <td>@item.MetaTitle</td>
                <td>@item.Description</td>
                <td>@item.CreatedDate.ToString("dd/MM/yyyy")</td>
                <td>@item.Status</td>
                <td>
                    <a title="Sửa" onclick="Edit(@item.ID)"><i class="fa-solid fa-pen-to-square"></i></a>
                    &nbsp; |
                    <a title="Xóa" onclick="Delete(@item.ID)"><i class="fa-solid fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

