@model IQueryable<WebQuanLyBanHangDtos.ProductDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style scoped>
    .imghover:hover {
        transform: scale(1.5);
    }
</style>
<div class="header_slide">
    <div class="header_bottom_left">
        <div class="categories">
            @{ Html.RenderAction("Danhmuc", "Home");}
        </div>
        </div>
        <div class="header_bottom_right">
            <div class="slider">
                <div id="slider">
                    @{ Html.RenderAction("Slider", "Home");}
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
<div class="main">
    <div class="content">
        <div class="content_top">
            <div class="heading">
                <h3>Sản phẩm mới</h3>
            </div>
            <div class="see">
                <p><a href="#">Xem tất cả sản phẩm</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var item in Model.Where(x => x.Newproduct == true))
            {
                var Url = @item.MetaTitle + "/sp/" + @item.ID;
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@Url">
                        <img class="imghover" style="width:212px; height:212px" src="@item.Image" alt="sản phẩm" />
                    </a>
                    @*<h2>@item.Name</h2>*@
                    <h6><a href="@Url">@item.Name</a></h6>
                    <div class="price-details">
                        <div class="price-number">
                            <p>
                                <span class="rupees" style="font-size:20px">
                                    <i class="fa fa-money-check"></i>
                                    @string.Format("{0:0,0 đ}", item.Price)
                                </span>
                            </p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="/Cart/Index/@item.ID">Mua ngay</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </div>
        <div class="content_bottom">
            <div class="heading">
                <h3>Sản phẩm nổi bật</h3>
            </div>
            <div class="see">
                <p><a href="#">Xem tất cả sản phẩm</a></p>
            </div>
            <div class="clear"></div>
        </div>
        <div class="section group">
            @foreach (var item in Model.Where(x => x.Featuredproducts == true))
            {
                <div class="grid_1_of_4 images_1_of_4">
                    <a href="@Url">
                        <img class="imghover" style="width:212px; height:212px" src="@item.Image" alt="sản phẩm" />
                    </a>
                    @*<h2>@item.Name</h2>*@
                    <h6><a href="@Url">@item.Name</a></h6>
                    <div class="price-details">
                        <div class="price-number">
                            <p>
                                <span class="rupees" style="font-size:20px">
                                    <i class="fa fa-money-check"></i>
                                    @string.Format("{0:0,0 đ}", item.Price)
                                </span>
                            </p>
                        </div>
                        <div class="add-cart">
                            <h4><a href="#">Mua ngay</a></h4>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

