<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="/" class="brand-link">
        <img src="~/ImgFile/images/images.jpg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="~/ImgFile/images/images.jpg" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">Alexander Pierce</a>
            </div>
        </div>

        <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
           
                <li class="nav-header">Cài đặt trang web</li>
                <li class="nav-item">
                    <a href="@Url.Action("DanhSach","About")" class="nav-link">
                        <i class="nav-icon fas fa-th"></i>
                        <p>
                            Giới thiệu
                            <span class="right badge badge-danger">Mới</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("DanhSach","Category")" class="nav-link">
                        <i class="nav-icon fas fa-copy"></i>
                        <p>
                            Thể loại
                            <span class="badge badge-info right">0</span>
                        </p>
                    </a>

                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-chart-pie"></i>
                        <p>
                            Sản phẩm
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","ProductCategory")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại sản phẩm</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Product")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bảng sản phẩm</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Cài đặt trang web
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">3</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","MenuType")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Loại menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Menu")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Menu</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bài viết</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Thẻ nội dung</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Ngôn ngữ</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Chân trang</p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-header">Khách hàng</li>
                <li class="nav-item">
                    <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                        <i class="nav-icon far fa-calendar-alt"></i>
                        <p>
                            Liên hệ
                            <span class="badge badge-info right">0</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            Phản hổi
                            <span class="badge badge-info right">0</span>
                        </p>
                    </a>
                </li>
                <li class="nav-header">Đơn hàng</li>
                <li class="nav-item">
                    <a href="@Url.Action("DanhSach","Content")" class="nav-link">
                        <i class="nav-icon fas fa-ellipsis-h"></i>
                        <p>Bảng đơn hàng</p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://adminlte.io/docs/3.1/" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>Chi tiết đơn hàng</p>
                    </a>
                </li>
                <li class="nav-header">Người dùng</li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-tree"></i>
                        <p>
                            Cài đặt người dùng
                            <i class="fas fa-angle-left right"></i>
                            <span class="badge badge-info right">3</span>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","MenuType")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bảng người dùng</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="@Url.Action("DanhSach","Menu")" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Phần quyền</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>

